<!DOCTYPE html>
<body>
    <app-navbar></app-navbar>
    <section id="about">
        <div class="about-container">
          <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
    
            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
    
            <div class="carousel-inner" role="listbox">
                
              <!-- Slide 1 -->
              <div class="carousel-item active" style="background-image: url(https://cliffex.com/blog/content/images/size/w2640/2021/02/FoodDeliveryApp.jpg);">
                <div class="carousel-container">
                  <div class="carousel-content">
                    <h3 class="animate__animated animate__fadeInDown">About Us </h3>
                    <p class="animate__animated animate__fadeInUp">One of the biggest reasons why people like to order from Speedoo is 
                        because of the best offers available by them. This is an Indian app which is vastly used for food delivery. 
                        It came to existence in 2016 and is functioning in the major cities like Pune, Hyderabad, Mumbai, and Bangalore. 
                        Speedoo delivers the food from all restaurants around the city. 
                        To your surprise, Bolt is the 
                        premium version in which, if your order has not been delivered to you within 30 minutes, you get your order for free.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
                
    </section>
</body>
