
<!DOCTYPE html>
<body>

    <app-navbar></app-navbar>

 <!-- ======= Hero Section ======= -->
 <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(https://cliffex.com/blog/content/images/size/w2640/2021/02/FoodDeliveryApp.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown" style="font-style:italic;">Why Strave For Long When You Have Us </h2>
                <p class="animate__animated animate__fadeInUp" style="font-style:italic;">Make Order, Enjoy Food</p>
              </div>
            </div>
        </div>
    </div>
</div>
</div>
            
</section><!-- End Hero -->
</body>
