<!--h1>Add Category Admin</h1>
<div class="container">
  <div class="row">
     <div class="col-sm-offset-3 col-sm-6">
       <div class="tile">
         <div class="login show">
         <h6>Add Category</h6>
<form class="form">
  <label for="catname">Category Name</label>
  <input type="text" class="form-control" id="catname" placeholder="category name" name="catname" [(ngModel)]="category.catname">

  <br>
  <button type="button" class="btn btn-success" (click)="saveCat()">Save Category</button>
</form>
         </div>
        </div>
      </div>
    </div>
  </div-->

  <body style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6aHTWnJvT4CvZhfJb4PrOmoKO9G8ajdqEtK-Cw-NyMPYU8cebdNoMqJ4-Dno9c6ntgnw&usqp=CAU);"></body>
<div class="container">
  <div class="row">
     <div class="col-sm-offset-3 col-sm-6">
       <div class="tile">
         <div class="login show">
         <!--img src="https://previews.123rf.com/images/luka007/luka0071601/luka007160100985/50665073-add-book-icon.jpg" class="logo"-->
         <h3 id="h3">New  Category</h3><br>
<form class="form" style="background-color:beige ;">
  <label for="catname">Category Name</label>
  <input type="text" class="form-control" id="catname" placeholder="category name" name="catname" [(ngModel)]="category.catname">

  <br>
  <button type="button" class="btn btn-success" style="background-color:rgb(51, 66, 80);color: floralwhite;font-style: italic; font-size: small;" (click)="saveCat()">Save Category</button>
</form>
         </div>
        </div>
      </div>
    </div>
  </div>
