<h1 class="center">Restaurants</h1>
<a class="btn btn-primary mb-3" routerLink="/customer/allitems" style="background-color:darkorchid;color: white;">Back</a>
<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Restaurant Name</th>
          <th>Address</th>
          <th>Manager name</th>
          <th>Contact no.</th>
          <th>item name</th>
          <th>   </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rest of restaurant">
          <td>{{rest.restaurantId}}</td>
          <td>{{rest.restaurantName}}</td>
          <td>{{rest.address.city}}</td>
          <td>{{rest.managerName}}</td>
          <td>{{rest.contactNumber}}</td>
          <td>{{item.itemname}}</td>
          <td>
            <button type="button" class="btn btn-primary"  style="background-color:darkorchid;color: white;" (click)="addtoCart(item.itemid)">Add to Cart</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
